{% extends 'base.html' %}
{% block content %}
    <div class="login-container">
        <h1>User Login</h1>
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    {% if data.message %}
        <div class="alert alert-dismissible {% if data.message.tags %}alert-{{ data.message.tags }}{% endif %}">
          {{ data.message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
    {% endif %}
    </div>
{% endblock %}
